.contact { 
	text-align: right; 

	ul { 
		li {
		}
	}
	a { 
		padding: 0.3em;
		background: $grey-50; 
		color: $white; 
		&:hover { 
			background: $first; 
			color: $white; 
			text-decoration: none; 
		}
	}
}

