.footer {
	padding: $vertical-margin 0;
	background-color: $grey-50;

	color: $white;
	text-align: left;

    @include breakpoint(medium) {
        padding: $vertical-margin*2 0;

        text-align: left;
    }
}

    // Site credits / company info
    .footer__content {
        display: inline-block;
        vertical-align: middle;
        margin: $vertical-margin 0;

        @include font-size($font-small,1);

        h3 {
            color: $white;
        }

        a {
            color: $white;

            // Transitions
            @include transition(color 0.15s);

            &:hover,
            &:focus {
                text-decoration: underline;
            }
        }
    }
