.footer {
	padding: 3rem 0;
	background-color: $grey-50;

	color: $white;
	text-align: left;
}

    // Site credits / company info
    .footer__content {
        @include grid(36,12,1);

        h3 {
            color: $white;
        }

        a {
            color: $white;

            // Transitions
            @include transition(color 0.15s);

            &:hover,
            &:focus {
                text-decoration: underline;
            }
        }
    }
