.header-video { 
	height: 225px;  /* start height */
	margin-bottom: $vertical-margin * 2 !important;
	
	padding-top: 56.25%;  /* slope */
	background: darken($grey-50,25%);
	background-size: cover;
	-moz-background-size: cover;  /* Firefox 3.6 */
	background-position: center;  /* Internet Explorer 7/8 */
	border-bottom: darken($grey-50,25%) 1px solid;

	line-height: 0;

	@include breakpoint(large) {
		padding-top: 40%;
	}
	
	.box-video {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		padding: 0;
		height: auto;
		margin: 0;
	}
}