/* 
 * Header Image
 *
 * Page header with a background image and an overlaying header text
 */
.header-image {
    position: relative;
	margin-bottom: $vertical-margin;

	padding-top: 33%;  /* slope */
	height: 225px;  /* start height */

	background: darken($grey-50,25%);

	background-size: cover;
	-moz-background-size: cover;  /* Firefox 3.6 */
	background-position: center;  /* Internet Explorer 7/8 */

	line-height: 0;

	h1 {
		@include grid(48,2);
		position: absolute;
		bottom: 0;
		margin-bottom: $vertical-margin / $font-huge !important;

		text-shadow: rgba($black, 0.9) 1px 2px 5px;

		@include font-size($font-huge,1.2);
		color: $white;

		@include breakpoint(medium) {
			@include grid(48,12,0);

			@include font-size($font-monster,1.2);
		}
		@include breakpoint(normal) {
			@include grid(48,12, 0);
			@include font-size($font-god,1.2);
		}
	}
}
