.nav-main {
	display: block;
	max-height: 0;
	width: 100%;
	overflow: hidden;

	background: $grey;
	// border-top: $black 1px solid;

	line-height: 2px;
	text-align: center;

	li {
		@include grid(24);
	}

 	li,
 	a {
		display: block;
 		font-size: ($font-size * $font-medium);
 	}

 	a {
		padding-left: 1em;
		padding-right: 1em;
 	}

 	@include breakpoint(small) {
 		display: block !important;
 		width: auto;
 		margin: 0;
 		max-height: none;

		border: none;
		background-color: transparent;

		font-size: 0;
	 	text-align: center;

		li {
			@include grid-reset;
			display: inline;
			display: inline-block;
		}

	 	a {
		 	padding: 0.3em 0.6em;
	 	}
 	}

	@include breakpoint(medium) {
		text-align: left;
	}

	// Transition for mobile #FIXME replace Compass
	// @include transition-property(max-height);
	// @include transition-duration(0.333s);
	// @include transition-timing-function(ease-in);
	// @include transition-delay(0s);	

	&.is-visible {
		max-height: 10em;
	}

}