/*
 * Main navigation
 */
.nav-main {
	display: block;

    vertical-align: middle;
	width: auto;
	margin: 0 $vertical-margin 0 0;
	max-height: none;

	border: none;
	background-color: transparent;

	font-size: 0;
    text-align: center;

	li {
		@include grid-reset;
		display: inline;
		display: inline-block;

        @include font-size($font-medium,1);
	}

 	a {
	 	padding: 0.3em 0.6em;
 	}

    @include breakpoint(medium) {
        display: inline-block;
        text-align: left;
    }
}

    // Collapsible menu
    .nav-main--is-collapsible {
        max-height: 0;
        width: 100%;
        overflow: hidden;
        margin: 0;

        line-height: 2px;
        text-align: center;

        transition: max-height 0.333s ease-in; // animate expand/collapse on small screens

        li { 
            @include grid(24);
        }

        li,
        a {
            display: block;
            font-size: $font-medium;
        }

        a {
            padding-left: 1em;
            padding-right: 1em;
        }

    }

    .nav-main--is-expanded {
        max-height: 10em;
    }