.nav {
    display: inline-block;
    vertical-align: middle;

    width: auto;
    margin: 0 $vertical-margin 0 0;
    max-height: none;

    border: none;
    background-color: transparent;

    font-size: 0;
    line-height: 0;
    text-align: center;

	@include breakpoint(medium) {
		text-align: left;
	}

	li { 
		display: inline-block;
		overflow: hidden;

		list-style: none;

		@include breakpoint(medium) {
			float: left;
		}
	} 

	a { 
		display: inline-block; 
	 	width: auto;

        padding: 1em 0.6em;
	 	background-color: $grey-50;

        @include font-size($font-normal,1);
	 	color: $white;
	 	font-weight: 400;

		transition: background-color 0.15s;
		
		&:hover,
		&:focus {
			background-color: lighten($first,12.5%); 
		}
		&:active{
			background-color: darken($first,5%);
		}
	
        @include breakpoint(small) {
            padding: 0.8em 0.6em;

            @include font-size($font-medium,1);
        }                
    }
    
    @include breakpoint(medium) {
        display: inline-block;
        text-align: left;
    }


 	.current-menu-item a,
 	.current_page_parent a,
 	.current-page-ancestor a { 
	 	color: $black;
	 	background-color: $second;
 	 	text-decoration: none; 
 	} 

}