.nav-mobile {
	display: none;
	z-index: 99;

	text-align: left;
	line-height: 0em;
	
	li {
 		float: none;
 		display: inline;
 		display: inline-block;

		a {

			background: transparent;

			text-decoration: none;
			color: $grey;
	 	} 
		li { 
			display: none;
		}
	}
	// MEDIA QUERIES
	@media only screen and (min-width: 768px ) {
		display: none;
	}
}