.postmetadata {
	@include grid(48);

	margin-bottom: $vertical-margin*2;

	a {
		float: left;

		padding: 0.333em 0.5em;
		background-color: $grey-50;

		@include transition(all 0.15s ease);

		color: $white;
		text-transform: lowercase;

		&:hover {
			text-decoration: none;
			color: $white;
			background-color: lighten($first,12.5%);
		}
		&:active {
			background-color: darken($first,5%);
		}
	}
}
