/*
    Header toolbar

    Houses logo, main menu and possibly more
*/
.toolbar {
    // margin-bottom: $vertical-margin*2;

	@include breakpoint(small) {
        margin-bottom: 0;

		padding-bottom: $vertical-margin * 2;
	}

	@include breakpoint(medium) {
		padding-top: $vertical-margin * 2;
	}

    &--footer {
        padding: 0;

        .nav-main a {
            background-color: $grey-80;
        }

        @include breakpoint(small) {
            padding-bottom: 0;
        }

        @include breakpoint(medium) {
            padding-top: 0;
        } 
    }    
}

    // WordPress-page specific styling
    .single .toolbar,
    .page .toolbar {
    	margin-bottom: 0;
    }

    .archive .toolbar {
    	margin-bottom: $vertical-margin;
    }

    .blog .toolbar {
    	margin-bottom: $vertical-margin;
    }
