/*
 * Toolbar
 *
 * Houses logo, main menu and more (?)
*/
.toolbar {
    @include grid(48,2);
    position: relative;

    font-size: 0;

    // MEDIA QUERIES
    @include breakpoint(small) {
        margin-top: $vertical-margin;
        margin-bottom: $vertical-margin;
    }

    @include breakpoint(medium) {
        @include grid(36,13,0);
        margin-top: $vertical-margin*2;
        margin-bottom: $vertical-margin*2;
    }

    @include breakpoint(normal) {
        @include grid(32,12,0.5);
    }


    /* 
     * Footer version of toolbar
     * 
     * Houses logo, main menu and company details
     */
    &--footer {
        padding: 0;

        .nav a {
            background-color: $grey-80;
        }

        @include breakpoint(small) {
            padding-bottom: 0;
        }

        @include breakpoint(medium) {
            padding-top: 0;
        } 
    }    
}