*, 
*:before,
*:after { 
   -webkit-box-sizing: border-box; 
   -moz-box-sizing:    border-box; 
   box-sizing:         border-box; 
}
// 
body {
	width: 100%;
	margin: 0; padding: 0;
	font-family: $proxima-nova;
	font-size: $font-size;
	line-height: 1.5em;
	color: $grey;
	background: $grey;
	overflow-x: hidden;	
}

h1, h2, h3 {
	margin: 0; 
	padding: 0; 

	font-family: $skolar;
	font-weight: 600;
	color: darken($grey, 25%);
}
h1 { 
	margin-bottom: ($vertical-margin / $font-large) * 2;

	@include font-size($font-large,1);

	a { 
		color: $grey; 

		@include transition(color 0.15s);

		&:hover,
		&:focus {
			color: lighten($first,12.5%);
		}
		&:active {
			color: darken($first, 5%);
		}
	}

	// MEDIA QUERIES	
	@include breakpoint(small) {
		margin-bottom: ($vertical-margin / $font-huge) * 2;

		@include font-size($font-huge, 1);
	}
	@include breakpoint(medium){
		margin-bottom: ($vertical-margin / $font-monster) * 2;

		@include font-size($font-monster, 1); 
	}
}
h1 a:hover { text-decoration: none;  }
h2 { 
	@include font-size($font-medium, 1);
	margin-top: ($vertical-margin / $font-medium) * 2;
	margin-bottom: $vertical-margin / $font-medium;

	// MEDIA QUERIES	
	@include breakpoint(medium){
		@include font-size($font-large, 1);
		margin-top: ($vertical-margin / $font-large) * 2;
		margin-bottom: $vertical-margin / $font-large;
	}
}
h3 { 
	@include font-size($font-normal, 1);
	margin-top: $vertical-margin*2;
	margin-bottom: $vertical-margin;
}

img, 
a img { 
	max-width: 100%;
	height: auto;
	
	border: none; 
}

p { 
	margin-top: 0;
	margin-bottom: $vertical-margin;
}
small { 
	font-size: 0.75em; 
}

strong,
b { 
	font-weight: 600 
}
em,
i {
	font-style: italic;
}

a { 
	color: $first; 
	text-decoration: none;
	&:hover, 
	&:focus { 
		color: lighten($first,12.5%); 
		text-decoration: none;
	}
	&:active {
		color: darken($first, 12.5%);
	}
}

ul, 
ul li, 
li { 
	margin: 0; 
	padding: 0; 
	list-style: none; 
}	

blockquote { 
	margin: $vertical-margin 0 $vertical-margin $vertical-margin; 
	padding-left: $vertical-margin; 
	border-left: 3px solid $grey; 
	p {
		font-family: $georgia;
		@include font-size($font-normal);
		font-style: italic; 
	}
}

*:focus { outline: none; }
*::-moz-focus-inner { border: none; }
::-moz-selection { background: $second; color: $black; text-shadow: none; }
::selection { background: $second; color: $black; text-shadow: none; }
iframe { max-width: 100%; }
		
	/* WordPress classes */
	.alignleft { float: left; }
	.alignright { float: right; }
	img.alignleft { float: left; margin: 0; }
	img.alignright { float: right; margin: 0; }
	img.aligncenter { display: block; margin: 0 auto; }
	

	
	.home .vvqbox { max-width: 450px !important; }

/* HACKS */
.tzfix { // fixes margins around background images
	-webkit-transform: translatez(0);
	    -moz-transform: translatez(0);
	    -ms-transform: translatez(0);
	    -o-transform: translatez(0);
	    transform: translatez(0);
}